<section class=" ">

  <div class="main-slider-container  rounded-lg overflow-hidden">
    <owl-carousel-o [options]="mainOptions" class="w-full min-h-42  ">
      <ng-template carouselSlide>
        <img
          alt="Slide 1"
          class="w-full h-auto min-h-42 object-cover"
          height="300"
          ngSrc="/images/img1.avif"
          priority
          width="1440"
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          alt="Slide 2"
          class="w-full h-auto min-h-42  object-cover"
          height="300"
          ngSrc="/images/img2.avif"
          width="1440"
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          alt="Slide 3"
          class="w-full h-auto min-h-42  object-cover"
          height="300"
          ngSrc="/images/img3.avif"
          width="1440"
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          alt="Slide 4"
          class="w-full h-auto min-h-42  object-cover"
          height="300"
          ngSrc="/images/img4.avif"
          width="1440"
        />
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
