<section class="container min-h-screen ">
  <div class="flex min-h-full flex-col justify-center py-16 grow">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2
        class=" text-center text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Forget your password
      </h2>
    </div>
    <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-[550px]">
      <div class="bg-white dark:bg-gray-800 px-6 py-12 shadow-sm sm:rounded-lg sm:px-12">
        <app-progress [step]="(step$ | async) ?? 1"/>
        <form
          (ngSubmit)="handleSubmitForgetPassword()"
          [class.hidden]="(step$ | async) !== 1"
          [formGroup]="forgetPasswordForm"
          class="space-y-6"
          method="POST"
        >
          @let emailController = forgetPasswordForm.get("email");
          <app-input
            [control]="emailController"
            [id]="'email'"
            [label]="'Email'"
            [type]="'email'"
          ></app-input>
          <div>
            <button [disabled]="isLoading$ | async" class="btn" type="submit">
              @if (isLoading$ | async) {
                <span>Sending...</span>
              } @else {
                <span>Verify email</span>
              }
            </button>
          </div>
        </form>
        <form
          (ngSubmit)="handleSubmitVerifyCode()"
          [class.hidden]="(step$ | async) !== 2"
          [formGroup]="verifyCodeForm"
          class="space-y-6"
          method="POST"
        >
          @let codeController = verifyCodeForm.get("resetCode");
          <app-input
            [control]="codeController"
            [id]="'code'"
            [label]="'Enter a verification code'"
            [type]="'text'"
          ></app-input>
          <div>
            <button [disabled]="isLoading$ | async" class="btn" type="submit">
              @if (isLoading$ | async) {
                <span>Verifying...</span>
              } @else {
                <span>Verify code</span>
              }
            </button>
          </div>
        </form>

        <form
          (ngSubmit)="handleSubmitResetPassword()"
          [class.hidden]="(step$ | async) !== 3"
          [formGroup]="resetPasswordForm"
          class="space-y-6"
          method="POST"
        >
          @let emailController2 = resetPasswordForm.get("email");
          @let passwordController = resetPasswordForm.get("newPassword");

          <app-input
            [control]="emailController2"
            [id]="'email2'"
            [label]="'Email'"
            [type]="'email'"
          ></app-input>
          <app-input
            [control]="passwordController"
            [id]="'password'"
            [label]="'Enter a new password'"
            [type]="'password'"
          >mast start with capital letter and must be from 6 to 11 characters
          </app-input>
          <div>
            <button [disabled]="isLoading$ | async" class="btn" type="submit">
              @if (isLoading$ | async) {
                <span>Resetting...</span>
              } @else {
                <span>Reset password</span>
              }
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

